body {
    background: linear-gradient(to bottom, #fff, #f0f0f0);
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

#promo-video {
    margin-top: 2rem;
}

#music-selection {
    margin-top: 2rem;
}

#deceased-info {
    margin-top: 2rem;
    padding: 2rem;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
